---
import BurguerMenuIcon from "@assets/icons/burguerMenu.svg";
import navigationItems from "@data/navegationItems";
import FloatingButton from "@components/ui/FloatingButton.astro";

//Estilos compartidos para enlaces de navegación
const desktopNavLinkStyles = `text-gray-700 hover:text-teal-600 px-3 py-2 text-sm font-medium`;
const mobileNavLinkStyles = `block px-3 py-2 text-base font-medium text-gray-600 hover:text-teal-600 hover:bg-gray-50 rounded-md`;
---

<header>
  <nav
    class="fixed top-0 left-0 right-0 z-50 bg-white/95 backdrop-blur-sm shadow-lg"
    role="navigation"
    aria-label="Navegación principal"
  >
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a
              href="#hero"
              class="flex items-center rounded-lg"
              aria-label="Ir al inicio"
            >
              <img
                src="/logoTransparente.png"
                alt="Logo de la veterinaria"
                class="h-14"
              />
            </a>
          </div>
        </div>

        <!-- Desktop navigation -->
        <div class="hidden lg:block">
          <ul class="ml-10 flex items-baseline space-x-8" role="menubar">
            {
              navigationItems.map((item) => {
                return (
                  <li role="none">
                    <a
                      href={item.href}
                      class={desktopNavLinkStyles}
                      aria-label={item.ariaLabel}
                      role="menuitem"
                    >
                      <span class="flex items-center">{item.label}</span>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <!-- Vacio para centrar el menu -->
        <!-- <div></div> -->

        <!-- Mobile menu button -->
        <div class="lg:hidden">
          <button
            id="mobile-menu-button"
            class="text-gray-700"
            aria-controls="mobile-menu"
            aria-expanded="false"
            aria-label="Abrir menú principal"
          >
            <BurguerMenuIcon class="w-6 h-6" />
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div class="lg:hidden hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 bg-white border-t shadow-lg">
        <ul role="menu" aria-label="Menú de navegación móvil">
          {
            navigationItems.map((item) => {
              const IconComponent = item.icon;
              return (
                <li role="none">
                  <a
                    href={item.href}
                    class={mobileNavLinkStyles}
                    aria-label={item.ariaLabel}
                    role="menuitem"
                  >
                    <span class="flex items-center">
                      <IconComponent class="w-4 h-4 mr-2" aria-hidden="true" />
                      {item.label}
                    </span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </nav>
  <FloatingButton />
</header>

<script>
  const menuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");
  const mobileMenuLinks = document.querySelectorAll("#mobile-menu a");

  function closeMenu() {
    mobileMenu.classList.add("hidden");
    menuButton.setAttribute("aria-expanded", "false");
  }

  function openMenu() {
    mobileMenu.classList.remove("hidden");
    menuButton.setAttribute("aria-expanded", "true");
  }

  menuButton.addEventListener("click", () => {
    const isExpanded = menuButton.getAttribute("aria-expanded") === "true";
    if (isExpanded) {
      closeMenu();
    } else {
      openMenu();
    }
  });

  // Cerrar el menú al hacer clic en un enlace del menú móvil
  mobileMenuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      // Cuando se hace clic en un enlace, cerramos el menú.
      closeMenu();
    });
  });

  // --- Codigo para el boton flotante ---
  const floatingButton = document.getElementById("whatsapp-fab");
  const whatsappOptions = document.getElementById("whatsapp-options");

  function toggleWhatsappMenu() {
    const isHidden = whatsappOptions.classList.contains("hidden");
    if (isHidden) {
      whatsappOptions.classList.remove("hidden");
      //Aplicamos una animacion cuando abre el menu
      whatsappOptions.classList.add("scale-100", "opacity-100");
      whatsappOptions.classList.remove("scale-95", "opacity-0");
      floatingButton.setAttribute("aria-expanded", "true");
    } else {
      whatsappOptions.classList.add("scale-95", "opacity-0");
      setTimeout(() => {
        whatsappOptions.classList.add("hidden");
        whatsappOptions.classList.remove("scale-100", "opacity-100");
      }, 200);
      floatingButton.setAttribute("aria-expanded", "false");
    }
  }

  floatingButton.addEventListener("click", (event) => {
    event.stopPropagation();
    toggleWhatsappMenu();
  });

  // Aplicamos esto si hacemos click fuera del menu para que se cierre
  document.addEventListener("click", (event) => {
    const container = document.getElementById("floating-whatsapp-container");
    const isExpanded = floatingButton.getAttribute("aria-expanded") === "true";

    if (isExpanded && !container.contains(event.target)) {
      toggleWhatsappMenu();
    }
  });
</script>
