---
const textStyle = "text-teal-600 font-bold";
---

<section class="py-16 bg-white" aria-labelledby="welcome-heading">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <article class="space-y-6">
      <header>
        <h2
          id="welcome-heading"
          class="text-3xl md:text-4xl font-bold text-teal-700"
        >
          ¡Bienvenidos a Clínica Veterinaria Ariels: Donde la Salud y el
          Bienestar de tu Mascota son Nuestra Pasión!
        </h2>
      </header>

      <p class="text-xl text-gray-600 leading-relaxed">
        En <span class={textStyle}>Clínica Veterinaria Ariels</span> estamos profundamente
        comprometidos con la <span class={textStyle}>salud</span> y el <span
          class={textStyle}>bienestar</span
        > de tu mascota. Fundada en <span class={textStyle}>Lima</span> en <span
          class={textStyle}>2003</span
        > por la <span class={textStyle}>M.V.Z. Olga Bustinza</span>, nos hemos
        consolidado como un referente en <span class={textStyle}
          >medicina veterinaria</span
        > para animales de compañía. Contamos con más de <span class={textStyle}
          >20 años de experiencia</span
        >, un <span class={textStyle}>equipo médico altamente calificado</span> y
        <span class={textStyle}>tecnología de vanguardia</span>. Ofrecemos <span
          class={textStyle}>atención integral</span
        > desde <span class={textStyle}>consulta externa</span>, <span
          class={textStyle}>cirugía</span
        > y <span class={textStyle}>hospitalización</span>, hasta <span
          class={textStyle}>diagnóstico por imágenes</span
        >, <span class={textStyle}>laboratorio propio</span>, y una <span
          class={textStyle}>unidad de cuidados intensivos</span
        >. Además, brindamos servicios de <span class={textStyle}
          >Spa y Grooming</span
        > para complementar su <span class={textStyle}
          >bienestar físico y emocional</span
        >.
      </p>
    </article>
  </div>
</section>
