---
import { Image } from "astro:assets";
import ClinicIcon from "@assets/icons/clinic.png";
import HeartIcon from "@assets/icons/health.png";
const { icon, title, description, includes } = Astro.props;

const isSizeSmall = icon === HeartIcon || icon === ClinicIcon;
---

<article
  class="bg-gray-50 rounded-2xl p-6 hover:shadow-lg transition-shadow duration-300 hover:transform hover:scale-105 h-80 flex flex-col"
>
  <div class="mb-1" role="img" aria-label={`${title} icono`}>
    <Image
      src={icon}
      alt={`${title} icono`}
      class={`${isSizeSmall ? "w-12 h-12" : "w-16 h-16"}`}
    />
  </div>

  <header>
    <h3 class="text-xl font-semibold text-teal-700 mb-2">
      {title}
    </h3>
  </header>

  <div class="text-gray-600 mb-2">
    <p class="leading-relaxed">
      {description}
    </p>
  </div>

  <footer class="text-sm text-gray-500 mt-auto flex-shrink-0">
    <div class="border-t border-gray-200 pt-3">
      <span class="font-medium text-gray-700">Incluye:</span>
      <span class="ml-1">
        {includes}
      </span>
    </div>
  </footer>
</article>
